.h2, h2 {
    font-size: 70px;
    text-shadow: 10px 10px 10px black;
    color: #3c763d;
}

.h1, h1 {
    font-size: 60px;
}

.h2, h2 {
    font-size: 70px;
    color: #3c763d;
    text-shadow: 7px 8px 20px #565a56;
}